<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

 	<bean id="jobA" class="JobA" />
  	<bean id="jobB" class="JobB" />
  	<bean id="jobC" class="JobC" />

<!--   	Quartz Job
 --> 	 <bean name="JobA" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="JobA" />
	</bean> 

 	<bean name="JobB" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="JobB" />
	</bean> 
	
 	<bean name="JobC" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="JobC" />
	</bean>
	
 	 <bean id="cronTriggerJobA" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="JobA" />
		<property name="cronExpression" value="0 28 15 ? * MON,TUE,WED,THU,FRI *" />
	</bean>
	 
 	<bean id="cronTriggerJobB" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="JobB" />
		<property name="cronExpression" value="0 47 11 ? * MON,TUE,WED,THU,FRI *" />
	</bean> 
	
 	<bean id="cronTriggerJobC" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="JobC" />
		<property name="cronExpression" value="30 58 18 ? * MON,TUE,WED,THU,FRI *" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
  				<ref bean="cronTriggerJobA" />
 				<ref bean="cronTriggerJobB" /> 
 				<ref bean="cronTriggerJobC" />
			</list>
		</property>
	</bean>

</beans>